@model LoginViewModel

@{
    ViewData["Title"] = "Panel Signin";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Panel</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/sign-in.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">

        <h1 class="h3 mb-3 fw-normal text-center">Study Buddy Admin Panel</h1>

        <h1 class="h3 mb-3 fw-normal text-center">Please Sign In</h1>

        <hr />
        
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>


    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
